{% extends "base.html" %}

{% block header_title %}NTP{% endblock %}
{% block section_title %}NTP{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'ntp:ntp-add' %}">Add new ntp server</a>
</p>
<p class="submenu2">
    
</p>


{% if ntp_servers %}

    <table border="1" width="100%">
    <tr>
        <th>server</th>
        <th>action</th>
    </tr>

    {% for server in ntp_servers %}
    <tr>
        <td>{{ server }}</td>
        <td>
            <a href="{% url 'ntp:ntp-remove' server=server %}">delete</a></td>
        </td>
    </tr>

    {% endfor %}

    </table>   
{% else %}
<p>No NTP Server defined.</p>
{% endif %}

{% endblock %}

