Django>=4.0.7
pytz-2023.3
sqlparse==0.4.3
asgiref==3.7.2
pytz==2022.7.1
sqlparse==0.4.4
requests==2.31.0
python-slugify==8.0.1
validators==0.20.0
python-memcached==1.59
password_strength==0.0.3.post2
django-utils-six==2.0
