{% extends "base.html" %}

{% block header_title %}Interfaces List{% endblock %}
{% block section_title %}Interfaces List{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
    {{ interfaces }}
    {{ firewall_names }}
    {{ firewall_all }}
    {{ interface_firewall_in_pretty }}
    {{ interface_firewall_out_pretty }}
    {{ interfaces_pretty }}
    --------------
    {{ interfaces_all_names_pretty }}
{% endblock %}


{% block content %}

<p class="submenu1">
    <a href="{% url 'interface:interface-add' %}">Create new interface</a>
</p>
<p class="submenu2"></p>



{% if interfaces %}
    <form action="{% url 'interface:interface-list' %}" method="post">
        {% csrf_token %}

        <table border="1" width="100%">
        <tr><th>type</th><th>name</th><th>address</th><th>firewall ipv4 in</th><th>firewall ipv4 out</th><th>actions</th></tr>


        {% for iname in interfaces_all_names %}
            
            <tr>
                <td>{{ iname.type }}</td>
                {% if iname.type == "loopback" %}
                    <td><a href="{% url 'interface:interface-show' interface_type=iname.type interface_name=iname.type %}">{{ iname.interface_alias }}</td>
                {% else %}
                    <td><a href="{% url 'interface:interface-show' interface_type=iname.type interface_name=iname.interface_alias %}">{{ iname.interface_alias }}</td>
                {% endif %}


                <td>
                    {% for address in iname.address %}
                        {{ address }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% if iname.type == "loopback" or iname.type == "dummy" %}
                        -
                    {% else %}
                        <select id="firewall-ipv4-in" name="firewall-ipv4-in.{{ iname.type }}.{{ iname.interface_alias }}"><option value="--remove--">None</option>
                        {% for fname in firewall_names %}    
                            <option value="{{ fname }}" {% if iname.firewall_in == fname %}selected="selected"{% endif %} >{{ fname }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </td>

                <td>
                    {% if iname.type == "loopback" or iname.type == "dummy" %}
                        -
                    {% else %}
                        <select id="firewall-ipv4-out" name="firewall-ipv4-out.{{ iname.type }}.{{ iname.interface_alias }}"><option value="--remove--">None</option>
                        {% for fname in firewall_names %}    
                            <option value="{{ fname }}" {% if iname.firewall_out == fname %}selected="selected"{% endif %} >{{ fname }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </td>

                <td>
                    {% if iname.vif == None %}
                        <a href="{% url 'interface:interface-delete' interface_type=iname.type interface_name=iname.interface_short %}">delete</a></td>              
                    {% else %}
                        <a href="{% url 'interface:interface-delete' interface_type=iname.type interface_name=iname.interface_short interface_vif=iname.vif %}">delete</a></td>              
                    {% endif %}

            </tr>
        {% endfor %}
        </table>

        <div id="submit-firewall" class="text-right">
            <input type="submit" value="Set Firewall">
        </div>
    </form>

{% else %}
    <p>No interfaces.</p>
{% endif %}

{% endblock %}



