{% extends "base.html" %}

{% block header_title %}Interface {{ interface_type }} {{ interface_name }}{% endblock %}
{% block section_title %}Interface {{ interface_type }} {{ interface_name }}{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
{{ interface }}
{{ interface_type }}
{{ interface_name }}
{% endblock %}


{% block content %}


{% if interface %}

    <form action="{% url 'interface:interface-set' interface_type=interface_type interface_name=interface_name %}" method="post">  
    {% csrf_token %}

    <table border="1" width="100%">
            <tr>
            <th width="30%">dhcp</th>
            <td width="70%">
                <input type="checkbox" name="dhcp" value="1" {% if interface.address == "dhcp" %}checked{% endif %} id="dhcp">
            </td>
        </tr>
    
        <tr id="tr_address" style="display:none">
        <th>address</th> <td><input type="text" name="address" value="{% if interface.address == "dhcp" %}{% else %}{{ interface.address }}{% endif %}" id="address"></td>
        </tr>

        <tr>
        <th>mtu</th> <td><input type="text" name="mtu" value="{{ interface.mtu }}" id="mtu"></td>
        </tr>

    </table>

    <input type="submit" value="Save">

    </form>


    <div class="separe-form">
    <h2>Set Interface Firewall</h2>
    <form action="{% url 'interface:interface-set-firewall' interface_type=interface_type interface_name=interface_name %}" method="post">
        {% csrf_token %}
        
        <p>
            <label for="alias">IPv4 Inbound</label><br>
            <select id="firewall-ipv4-in" name="firewall-ipv4-in"><option value="">None</option>
                {% if firewall_all != False %}
                    {% for fkey, fvalue in firewall_all.items %}    
                        {% for fitemkey, fitemvalue in fvalue.items %}
                        <option value="{{ fitemkey }}" {% if fitemkey == interface.firewall.in.name %}selected{% endif %}>{{ fitemkey }}</option>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </select>
        </p>
    
        <p>
            <label for="alias">IPv4 Outbound</label><br>
            <select id="firewall-ipv4-out" name="firewall-ipv4-out"><option value="">None</option>
            {% if firewall_all != False %}
                {% for fkey, fvalue in firewall_all.items %}    
                    {% for fitemkey, fitemvalue in fvalue.items %}
                    <option value="{{ fitemkey }}" {% if fitemkey == interface.firewall.out.name %}selected{% endif %}>{{ fitemkey }}</option>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </select>
        </p>    
        
        <input type="submit" value="Set Interface Firewall">
        </form>
    </div>

    
{% else %}
    <p>Invalid interface.</p>
{% endif %}



<script>
    $(document).ready(function () {   
        $("#dhcp").click(function () {
            if ($("#dhcp").is(':checked')) {
                $('#tr_address').hide();
            } else {
                $('#tr_address').show();
            }

        });

        if ($("#dhcp").is(':checked')) {
            $('#tr_address').hide();
        } else {
            $('#tr_address').show();
        }

    })
</script>

{% endblock %}


