

{% extends "base.html" %}

{% block header_title %}Static Routes{% endblock %}
{% block section_title %}Static Routes{% endblock %}
{% block username %}{{ username }}{% endblock %}


{% block debug %}
{{ static_list }}
{% endblock %}

{% block content %}


<p class="submenu1">
    <a href="{% url 'static:static-add' %}">Create new static route</a>
</p>
<p class="submenu2">
    
</p>



{% if static_list %}

    <table border="1" width="100%">
    <tr>
        <th>route</th>
        <th>next-hop (router to use)</th>
    </tr>

    {% for x in static_list %}
    <tr>
        <td>{{ x.route }}</td>
        <td>
            {% for y in x.nexthop %}
                {{ y }}  <a href="{% url 'static:static-remove' route=x.route|routepack nexthop=y %}">delete</a></td>
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No static routes.</p>
{% endif %}


    



{% endblock %}

