{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main.css" %}?x1">

    <title>{% block header_title %}{% endblock %} - VyControl</title>
  </head>
  <body >

    <div class="container" id="menu-logotop" >
      <div id="menu-topline"></div>
        
      <div class="row ">
        <div class="col-3 ">
          
        </div>
        <div class="col-9">
          <form action="/config/instance-default" method="get" id="instancedefault">
            <p class="text-right menu-config">
            
              <select name="vyos-id" id="vyos-id" onchange="this.form.submit();">
                {% for instance in instances %}
                <option value="{{instance.hostname}}" {% if hostname_default == instance.hostname %}selected="selected"{% endif %}>{{instance.alias}}</option>
                {% endfor %}
          
                
              
              </select>
            

              <span id="vycenter-config-menu"><a href="{% url 'registration-logout' %}">Logout</a></span>


          </p>
        </form>
        </div>
      </div>
    </div>

<div class="container" id="central">
  <div class="row">
    <div class="col-3 menu">

      <p class="text-center">
        <h1 align="center"><a href="/"><img src="https://storage.googleapis.com/vycontrol/logos/logo_minimal.png" width="100"  height="100" alt="vycontrol"></a></h1>
      </p>



      <h2>Manage VyOS</h2>

    <ul>
    <li><a href="{% url 'interface:interface-list' %}">Interfaces</a></li>
    <li><a href="{% url 'firewall:firewall-list' %}">Firewall</a></li>
    </ul>

    <h2>Manage Routing</h2>
    <ul>
    <li><a href="{% url 'static:static-list' %}">Static Routing</a></li>
    <li><a href="{% url 'arp:arp-list' %}">ARP</a></li>
    <li><a href="{% url 'ospf:ospf-list' %}">OSPF</a></li>
    <li><a href="{% url 'bgp:bgp-list' %}">BGP</a></li>
    </ul>

    <h2>Manage Services</h2>
    <ul>
    <li><a href="{% url 'dhcp:dhcp-list' %}">DHCP</a></li>
    <li><a href="{% url 'ssh:ssh-list' %}">SSH</a></li>
    </ul>

    <h2>Manage VPN</h2>
    <ul>
    <li><a href="{% url 'openvpn:openvpn-list' %}">OpenVPN</a></li>
    <li><a href="{% url 'ipsec:ipsec-list' %}">IPSEC</a></li>
    </ul>


    <h2>Manage NAT</h2>
    <ul>
      <li><a href="{% url 'nat:nat-list' %}">NAT</a></li>
    </ul>    

    <h2>Manage QoS</h2>
    <ul>
    <li><a href="{% url 'qos:qos-list' %}">QoS</a></li>
    </ul>    

    <h2>Manage Wan Load Balancing</h2>
    <ul>
    <li><a href="{% url 'wanlb:wanlb-list' %}">Wan Load Balancing</a></li>
    </ul>        
   
    <h2>Manage VyControl</h2>
    <ul>
    <li><a href="{% url 'config:instance-add' %}">Add new instance</a></li>
    <li><a href="{% url 'config:instances' %}">List instances</a></li>
    <li><a href="{% url 'config:users-list' %}">List users</a></li>
    <li><a href="{% url 'config:user-add' %}">Add new user</a></li>
    <li><a href="{% url 'config:groups-list' %}">List groups</a></li>
    <li><a href="{% url 'config:group-add' %}">Add new group</a></li>

  </ul>


    </div>
    <div class="col content">
        <h2>{% block section_title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </div>
  </div>


</div>


<div class="container" id="debug">
  <h3>Debug</h3>
  <pre>
  {% block debug %}{% endblock %}
</pre>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

