{% extends "base.html" %}

{% block header_title %}Edit Firewall{% endblock %}
{% block section_title %}Edit Firewall{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
{{ firewall_all }}
{{ firewall }}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-add' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a> | 
    <a href="{% url 'firewall:firewall-portgroup-list' %}">Port Group</a> |
    <a href="{% url 'firewall:firewall-zones' %}">Zones</a>
</p>
<p class="submenu2"></p>

<h2>Firewall {{ firewall_name }}</h2>

<form action="{% url 'firewall:firewall-edit' firewall_name %}" method="post">
    {% csrf_token %}
    
    <p>
        <label for="alias">description</label><br>
        <input type="text" name="description" id="description" value="{{ firewall.description }}" size="60">
    </p>    
    
    <p>
        <label for="hostname">default action</label><br>
        <input type="radio" name="action" id="action" value="accept" {% if firewall.defaultaction == "accept" %}checked="checked"{% endif %}> accept
        <input type="radio" name="action" id="action" value="drop" {% if firewall.defaultaction == "drop" %}checked="checked"{% endif %}> drop
        <input type="radio" name="action" id="action" value="reject" {% if firewall.defaultaction == "reject" %}checked="checked"{% endif %}> reject        
    </p>

    
    
    <input type="submit" value="Edit Firewall">
</form>

    


{% endblock %}



