{% extends "base.html" %}

{% block header_title %}Firewall List{% endblock %}
{% block section_title %}Firewall List{% endblock %}

{% block debug %}
{{ firewall_all }}
{% endblock %}

{% block content %}


<p class="submenu1">
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a>
</p>
<p class="submenu2"></p>



{% if firewall_all %}
    <table border="1" width="100%">
    <tr><th>name</th><th>description</th><th>default-action</th></th><th>actions</th></tr>

    {% for key, value in firewall_all.items %}
        
        {% for ifkey, ifvalue in value.items %}
            <tr>
                <td><a href="{% url 'firewall:show' ifkey %}">{{ ifkey }}</a></td>
                <td>{{ ifvalue.description }}</td>
                <td>{{ ifvalue.default_action }}</td>
                <td><a href="{% url 'firewall:firewall-remove' ifkey %}">remove</a> | <a href="{% url 'firewall:firewall-edit' ifkey %}">edit</a></td>
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No firewalls.</p>
{% endif %}


<h3>Global Firewall Properties</h3>

<form action="{% url 'firewall:firewall-global' %}" method="post">
    {% csrf_token %}

    <table width="100%">
        <tr>
            <th width="100%"><input type="checkbox" name="allping" value="1" {% if firewall_all.all_ping == "enable" %}checked="checked"{% endif %}/> all-ping</th>
        </tr>
        <tr>
            <th width="100%"><input type="checkbox" name="syncookies" value="1" {% if firewall_all.syn_cookies == "enable" %}checked="checked"{% endif %}/> syn-cookies</th>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>






{% endblock %}



