{% extends "base.html" %}

{% block header_title %}Firewall Dashboard{% endblock %}
{% block section_title %}Firewall Dashboard{% endblock %}

{% block debug %}
{{ firewall_all }}
{% endblock %}

{% block content %}


<p class="margin-topbottom">
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a>
</p>



{% if firewall_all %}
    <table border="1" width="100%">
    <tr><th>name</th><th>description</th><th>default-action</th></th><th>actions</th></tr>

    {% for key, value in firewall_all.items %}
        
        {% for ifkey, ifvalue in value.items %}
            <tr>
                <td><a href="{% url 'firewall:show' ifkey %}">{{ ifkey }}</a></td>
                <td>{{ ifvalue.description }}</td>
                <td>{{ ifvalue.default_action }}</td>
                <td><a href="{% url 'firewall:firewall-remove' ifkey %}">remove</a> | <a href="{% url 'firewall:firewall-edit' ifkey %}">edit</a></td>
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No firewalls.</p>
{% endif %}




{% endblock %}



