{% extends "base.html" %}

{% block header_title %}Firewall Group List{% endblock %}
{% block section_title %}Firewall Group List{% endblock %}

{% block debug %}
{{ firewall_networkgroup }}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-portgroup-list' %}">Port Group</a> |
    <a href="{% url 'firewall:firewall-zones' %}">Zones</a>
</p>
<p class="submenu2">
    <a href="{% url 'firewall:firewall-networkgroup-add' %}">Add network Group</a>
</p>


{% if firewall_networkgroup %}
    <table border="1" width="100%">
        <tr>
            <th width="25%">name</th>
            <th width="30%">description</th>
            <th width="25%">actions</th>
        </tr>

    {% for key, value in firewall_networkgroup.items %}       
        {% for ifkey, ifvalue in value.items %}
            <tr>
                <td><a href="{% url 'firewall:firewall-networkgroup-desc' ifkey %}">{{ ifkey }}</a></td>
                {% comment %}<td>{{ ifvalue.network }}</td>{% endcomment %}
                <td>{{ ifvalue.description }}</td>
                <td>
                    <a href="{% url 'firewall:firewall-networkgroup-desc' ifkey %}">Edit</a> | 
                    <a href="{% url 'firewall:firewall-networkgroup-del' ifkey %}">Remove</a>
                </td>                
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No firewalls.</p>
{% endif %}



{% endblock %}



