{% extends "base.html" %}

{% block header_title %}Firewall Group List{% endblock %}
{% block section_title %}Firewall Group List{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
{{ firewall_portgroup }}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> |
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a> 
</p>
<p class="submenu2">
    <a href="{% url 'firewall:firewall-portgroup-add' %}">Add port group</a>
</p>


{% if firewall_portgroup %}
    <table border="1" width="100%">
        <tr>
            <th width="25%">name</th>
            <th width="30%">description</th>
            <th width="25%">actions</th>
        </tr>

    {% for key, value in firewall_portgroup.items %}       
        {% for ifkey, ifvalue in value.items %}
            <tr>
                <td><a href="{% url 'firewall:firewall-portgroup-edit' ifkey %}">{{ ifkey }}</a></td>
                <td>{{ ifvalue.description }}</td>
                <td>
                    <a href="{% url 'firewall:firewall-portgroup-edit' ifkey %}">Edit</a> | 
                    <a href="{% url 'firewall:firewall-portgroup-del' ifkey %}">Remove</a>
                </td>                
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No port groups.</p>
{% endif %}



{% endblock %}



