{% extends "base.html" %}

{% block header_title %}Firewall {{firewall_name}}{% endblock %}
{% block section_title %}<a href="{% url 'firewall:show' firewall_name %}">Firewall {{firewall_name}}</a>{% endblock %}

{% block debug %}
{{ firewall }}
{{ firewall_name }}
{% endblock %}

{% block content %}


<p class="margin-topbottom">
    <a href="{% url 'firewall:addrule' firewall_name %}">Add new rule</a>
</p>



{% if firewall.rule %}
    <table border="1" width="100%">
    <tr><th>rule #</th><th>description</th><th>protocol</th><th>destination port</th><th>source port</th><th>firewall action</th></tr>

    {% for key, value in firewall.items %}
        
        {% for ifkey, ifvalue in value.items %}
            <tr>
            <td><a href="{% url 'firewall:editrule' firewall_name ifkey %}">{{ ifkey }}</a> <a href="{% url 'firewall:firewall-removerule' firewall_name ifkey %}">remove rule</a></td>
            <td>{{ ifvalue.description }}</td>
            <td>{{ ifvalue.protocol }}</td>
            <td>{{ ifvalue.destination.port }}</td>
            <td>{{ ifvalue.source.port }}</td>
            <td>{{ ifvalue.action }}</td>                        
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No rules.</p>
{% endif %}


    


{% endblock %}



