{% extends "base.html" %}

{% block header_title %}Firewall {{firewall_name}}{% endblock %}
{% block section_title %}<a href="{% url 'firewall:show' firewall_name %}">Firewall {{firewall_name}}</a>{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}
{{ firewall }}
{{ firewall_name }}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a>
</p>
<p class="submenu2">
    <a href="{% url 'firewall:addrule' firewall_name %}">Add new rule</a>
</p>


<h3>Firewall Properties</h3>

<form action="{% url 'firewall:firewall-config' firewall_name %}" method="post">
    {% csrf_token %}

    <table width="100%">
        <tr>
            <th width="100%"><input type="checkbox" name="allping" value="1" /> all-ping</th>
        </tr>
        <tr>
            <th width="100%"><input type="checkbox" name="syncookies" value="1" /> syn-cookies</th>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>

<h3>Rules</h3>


{% if firewall.rule %}
    <table border="1" width="100%">
    <tr><th>rule #</th><th>description</th><th>protocol</th><th>destination port</th><th>source port</th><th>firewall action</th><th>admin action</th></tr>

    {% for key, value in firewall.items %}
        
        {% for ifkey, ifvalue in value.items %}
            <tr>
            <td><a href="{% url 'firewall:editrule' firewall_name ifkey %}">{{ ifkey }}</a></td>
            <td>{{ ifvalue.description }}</td>
            <td>{{ ifvalue.protocol }}</td>
            <td>{{ ifvalue.destination.port }}</td>
            <td>{{ ifvalue.source.port }}</td>
            <td>{{ ifvalue.action }}</td>       
            <td>
                <a href="{% url 'firewall:editrule' firewall_name ifkey %}">edit</a> | 
                <a href="{% url 'firewall:firewall-removerule' firewall_name ifkey %}">remove</a>
            </td>
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No rules.</p>
{% endif %}


    


{% endblock %}



