{% extends "base.html" %}

{% block header_title %}Firewall Zones{% endblock %}
{% block section_title %}Firewall Zones{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}

{{ allzones_pretty }}
{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a> | 
    <a href="{% url 'firewall:firewall-portgroup-list' %}">Port Group</a>
</p>
<p class="submenu2">
    <a href="{% url 'firewall:firewall-zones-add' %}">Add Zone</a>
</p>


<h3>Firewall Zones</h3>

<p>No firewall zone exists.</p>
    


{% endblock %}



