{% extends "base.html" %}

{% block header_title %}Firewall Zone{% endblock %}
{% block section_title %}Firewall Zone{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block debug %}

{{ allzones }}

{{ interfaces_defined }}

{{ interfaces_zone }}


{% endblock %}

{% block content %}

<p class="submenu1">
    <a href="{% url 'firewall:firewall-list' %}">Firewall List</a> | 
    <a href="{% url 'firewall:firewall-create' %}">Create new firewall</a> | 
    <a href="{% url 'firewall:firewall-addressgroup-list' %}">Address Group</a> | 
    <a href="{% url 'firewall:firewall-networkgroup-list' %}">Network Group</a> | 
    <a href="{% url 'firewall:firewall-portgroup-list' %}">Port Group</a>
</p>



<h3>Create new zone</h3>

<form action="{% url 'firewall:firewall-zones-add' %}" method="post">
    {% csrf_token %}
  
    <p>
        <label for="alias">name</label><br>
        <input type="text" name="name" id="name" value="" size="60">
    </p>    

    <p>
        <label for="alias">description</label><br>
        <input type="text" name="description" id="description" value="" size="60">
    </p>    
    
    <p>
        <label for="hostname">default action</label><br>
        <input type="radio" name="action" id="action" value="drop" {% if firewall.defaultaction == "drop" %}checked="checked"{% endif %}> drop
        <input type="radio" name="action" id="action" value="reject" {% if firewall.defaultaction == "accept" %}checked="checked"{% endif %}> reject        
    </p>

    <h2>Local-zone</h2>
    <p>Local zones cannot bellong to any other interface and will be applied to the router itself.<br>
        <input type="checkbox" name="localzone" value="1" id="localzone">
        <label for="localzone">set as local-zone</label><br>
    </p> 

    <div id="interfacesdiv">
    <h2>Interfaces to apply</h2>
    {% for key, value in interfaces.items %}
        {% if key != "loopback" %}
            {% for ifkey, ifvalue in value.items %}
                {% if ifkey not in interfaces_defined %}
                    <input type="checkbox" name="interface_{{ ifkey }}" value="{{ ifkey }}" id="interface_{{ ifkey }}">
                    <label for="interface_{{ ifkey }}">{{ key }} - {{ ifkey }}</label><br>
                {% else %}
                {{ key }} - {{ ifkey }} - already defined in zone {{ interfaces_zone|get_item:ifkey }} <br>

                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>

    
    <input type="submit" value="Add Firewall">
</form>


   
<script>
    $(document).ready(function () {                            
        $("#localzone").change(function () {
            if ($("#localzone").is(":checked")) {
                $('#interfacesdiv').hide();
            }
            else if ($("#localzone").not(":checked")) {
                $('#interfacesdiv').show();
            }
        });
    });

</script>



{% endblock %}



