{% extends "base.html" %}

{% block debug %}
{{ groups }}
{{ x }}
{% endblock %}


{% block header_title %}Manage groups{% endblock %}
{% block section_title %}Manage groups{% endblock %}

{% block content %}





{% if groups %}

    <table border="1" width="100%">
    <tr>
        <th>alias</th>
        <th>hostname</th>
        <th>port</th>
        <th>key</th>
        <th>https</th>
        <th>test connection</th>
        <th>default</th>
        <th>remove</th>
    </tr>

    {% for group in groups %}
    <tr>
        <td>{{ group }}</td>
    
    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No groups.</p>
{% endif %}


{% endblock %}
