{% extends "base.html" %}

{% block header_title %}List instances{% endblock %}
{% block section_title %}List instances{% endblock %}

{% block content %}

{% if instances %}

    <table border="1" width="100%">
    <tr>
        <th>alias</th>
        <th>hostname</th>
        <th>port</th>
        <th>key</th>
        <th>https</th>
        <th>test connection</th>
        <th>default</th>
        <th>remove</th>
    </tr>

    {% for instance in instances %}
    <tr>
        <td>{{ instance.alias }}</td>
        <td>{{ instance.hostname }}</td>
        <td>{{ instance.port }}</td>
        <td>show</td>
        <td>{{ instance.https }}</td>
        <td><a href="{% url 'config:instance-conntry' instance.hostname %}">test</a></td>
        <td>{% if instance.main == True %}default{% else %}<a href="{% url 'config:instance-change' instance.hostname %}">set default</a>{% endif %}</td>
        <td>{% if instance.main == True %}-{% else %}<a href="{% url 'config:instance-remove' instance.hostname %}">remove</a>{% endif %}</td>
    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No instances.</p>
{% endif %}


{% endblock %}
