{% extends "base.html" %}

{% block debug %}
{{ groups }}
{{ x }}
{% endblock %}

{% block content %}

<p class="submenu1">
    {% if is_superuser %}<a href="{% url 'config:group-add' %}">Add new group</a>{% endif %}
</p>
<p class="submenu2"></p>



{% if groups %}

    <table border="1" width="100%">
    <tr>
        <th>name</th>
        <th>status</th>
        <th>actions</th>
    </tr>

    {% for group in groups %}
    <tr>
        <td>{{ group }}</td>
        <td>{% if group.active == True %}active{% else %}inactive{% endif %}</td>
        <td>
            <a href="{% url 'config:group-edit' group %}">edit</a> | 
            {% if group.active == True %}<a href="{% url 'config:group-inactivate' group %}">inactivate</a>{% else %}<a href="{% url 'config:group-activate' group %}">activate</a>{% endif %}
        </td>

    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No groups.</p>
{% endif %}


{% endblock %}
