{% extends "base.html" %}

{% block debug %}
{{ groups }}
{{ x }}
{% endblock %}


{% block header_title %}Manage groups{% endblock %}
{% block section_title %}Manage groups{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block content %}

<p class="submenu1">
    {% if is_superuser %}<a href="{% url 'config:group-add' %}">Add new group</a>{% endif %}
</p>
<p class="submenu2"></p>



{% if groups %}

    <table border="1" width="100%">
    <tr>
        <th>name</th>
    </tr>

    {% for group in groups %}
    <tr>
        <td>{{ group }}</td>
    
    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No groups.</p>
{% endif %}


{% endblock %}
