{% extends "base.html" %}


{% block debug %}
    {% for instance in instances %}
    {{ instance }} - {{ instance.group.name }}
    {% endfor %}
{% endblock %}

{% block content %}

<p class="submenu1">
    {% if is_superuser %}<a href="{% url 'config:instance-add' %}">Add new instance</a>{% endif %}
</p>
<p class="submenu2"></p>


{% if instances %}

    <table border="1" width="100%">
    <tr>
        <th>alias</th>
        <th>hostname</th>
        <th>port</th>
        <th>key</th>
        <th>https</th>
        <th>test connection</th>
        <th>default</th>
        <th>group access</th>
        {% if is_superuser %}<th>remove</th>{% endif %}
    </tr>

    {% for instance in instances %}
    <tr>
        <td>{{ instance.alias }}</td>
        <td><a href="{% url 'config:instance-edit' instance.hostname %}">{{ instance.hostname }}</a></td>
        <td>{{ instance.port }}</td>
        <td>show</td>
        <td>{{ instance.https }}</td>
        <td><a href="{% url 'config:instance-conntry' instance.hostname %}">test</a></td>
        <td>{% if instance.main == True %}default{% else %}<a href="{% url 'config:instance-change' instance.hostname %}">set default</a>{% endif %}</td>
        {%if is_superuser %}
        <td><form action="{% url 'config:instance-changegroup' instance.hostname %}" method="post">
            {% csrf_token %}

            <select name="group" onchange="this.form.submit()">
                {% if groups %}
                    {% for group in groups %}
                        <option value="{{ group }}" {% if group == instance.group %}selected{% endif %}>{{ group }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </form>
        </td>
        {% else %}
        <td>{{ instance.group }}</td>
        {% endif %}
        {% if is_superuser %}
            <td>{% if instance.main == True %}-{% else %}<a href="{% url 'config:instance-remove' instance.hostname %}">remove</a>{% endif %}</td>
        {% endif %}
    </tr>

    {% endfor %}

    </table>   
{% else %}
    <p>No instances.</p>
{% endif %}


{% endblock %}
