{% extends "base.html" %}

{% block header_title %}List instances{% endblock %}
{% block section_title %}List instances{% endblock %}
{% block username %}{{ username }}{% endblock %}

{% block content %}

{% if instance %}
    {% if connected == True %}
        <div class="alert-ok">Instance connected</div>
    {% else %}
        <div class="alert-nok">Instance not connected</div>
    {% endif %}

    <table border="1" width="100%">
    <tr><th>alias</th><th>hostname</th><th>port</th><th>https</th></tr>

    <tr>
        <td>{{ instance.alias }}</td>
        <td>{{ instance.hostname }}</td>
        <td>{{ instance.port }}</td>
        <td>{{ instance.https }}</td>
    </tr>


    </table>   
{% else %}
    <p>No instances.</p>
{% endif %}


{% endblock %}
