{% extends "base.html" %}

{% block header_title %}User edit{% endblock %}
{% block section_title %}User edit{% endblock %}

{% block debug %}
{{ user }}
{% endblock %}


{% block content %}


<form method="post" action="{% url 'config:user-edit' user %}">
{% csrf_token %}
<table width="100%" border="1">
    <tr>
        <th width="50%">username</th>
        <td>{{ user }}</td>
    </tr>
    <tr>
        <th width="50%">email</th>
        <td><input type="text" name="email" id="email" value="{{ user.email }}"></td>
    </tr>
</table>

<h2>Change password (optional)</h2>
<table width="100%" border="1">
    <tr>
        <th width="50%">password</th>
        <td><input type="password" name="pass1" id="pass1"></td>
    </tr>
    <tr>
        <th width="50%">confirm</th>
        <td><input type="password" name="pass2" id="pass2"></td>
    </tr>
</table>

<input type="submit" value="update profile">

    
</form>



{% endblock %}