body {
    background-color: #333;
    color: white;
    font-size: 12px;    

}




.container {
    color: black;
}
.menu { 
    background-color: #888;
    padding: 5px;
}

.menu a, .menu h2 { 
  color: #000;
}    
.content { 
    background-color: #ccc;
    padding: 0 10px 0 10px;
}
.content a {
  color: #640000;
}
#menu-logotop h1 {
  font-size: 10px;      
}
#menu-logotop {
  background-color: #333;
  padding: 0 0px 4px 0px;
}

#menu-logotop a {
  color:#af1d1d ;
}

#menu-topline {
  padding-top: 3px;
  background-color: #e14342;
  margin-bottom: 2px;
}
#menu-logotop h2 {
  font-size: 12px;
}
ol {
  font-size: 11px;
}
p.menu-config {
  padding: 0 5px;
  margin: 0;
}
form.instancedefault {
  display: inline;
}

#vyos-id,  #vycontrol-config-menu {
    margin-right: 10px;
}

#debug {
    background-color: #AB425E;
    margin-top: 20px;
    margin-bottom: 20px;
}
#debug h3 {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}  
#debug pre {
  font-size: 12px;
  padding-top: 0;   
  margin: 0;  
}

h1 {
  font-size: 18px;
}

h2 {
  margin-top: 20px;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
  font-size: 14px;
}

h4 {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
}



#rulenumber:disabled {
    background-color: #ddd;
}

#submit-firewall {
  margin-top: 20px;
}

input[type=submit] {
  background-color: #EACD65;
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.separe-form {
  margin-top: 30px;      
}

#lostpasswd {
  margin-top: 10px;
}

.margin-topbottom {
  margin: 20px 0;  
}

.submenu1 {
  margin: 0;
}
.submenu2 {
  margin: 4px 0 20px 0;
  padding-top: 4px
  border: 1px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-top: 1px dotted #000000;
}


.alert-nok {
  background-color: rgb(184, 78, 78); margin: 20px 0; padding: 2px 10px;
}
.alert-ok {
  background-color: #EACD65; margin: 20px 0;  padding: 2px 10px;
}



#menu-username {
  margin-right: 10px;
  color:#af1d1d ;
}

.label_for_h3 {
  margin-bottom: 0;
}

.matching_criteria { 
  padding: 3px;
}


#msgs {
  background-color: rgb(228, 218, 181);  
  padding: 10px 10px 10px 10px;
  list-style-type: none;
}
#msgs li:last-child {
  margin-bottom: 0;
}

#msgs li {
  margin-bottom: 10px;
  padding: 4px 6px;
}

#msgs-header {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  margin-top: 0;
  
}

.msgs_success {
  background-color: rgb(73, 73, 160);
}
.msgs_info {
  background-color: rgb(132, 73, 160);
}
.msgs_debug {
  background-color: rgb(160, 73, 113);
}
.msgs_alert {
  background-color: rgb(160, 147, 73);
}
.msgs_error {
  background-color: rgb(160, 73, 73);
}




