{% extends "base.html" %}

{% block header_title %}Interface{% endblock %}
{% block section_title %}Interface{% endblock %}

{% block debug %}
{{ interface }}
{% endblock %}


{% block content %}
{% if interface %}

    <table border="1" width="100%">
    <tr>
    <th>address</th> <td>{{ interface.address }}</td>
    </tr>

    <tr>
    <th>mtu</th> <td>{{ interface.mtu }}</td>
    </tr>

    </table>
{% else %}
    <p>Invalid interface.</p>
{% endif %}



<form action="{% url 'interface:interface-firewall interface_type interface_name' %}" method="post">
    {% csrf_token %}
    
    <p>
        <label for="alias">inbound</label><br>
        
    </p>

    <p>
        <label for="alias">outbound/label><br>
        
    </p>    
    
    <input type="submit" value="Set Firewall">
    </form>



{% endblock %}


