{% extends "base_not_logged.html" %}

{% block header_title %}Login{% endblock %}
{% block section_title %}Login{% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block debugactive %}{{ debug }}{% endblock %}
{% block creditsactive %}{{ vycontrol_credits }}{% endblock %}

{% block debug %}
{% endblock %}


{% block content %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access. Or <a href="/">login to start page</a>.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts-login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">

    
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'interface:interface-list' %}{% endif %}">


    
</form>

<div id="lostpasswd">
<p><a href="{% url 'reset_password' %}">Lost password?</a></p>
</div>


{% endblock %}