{% extends "base_not_logged.html" %}
{% block header_title %}Password Reset{% endblock %}
{% block section_title %}Password Reset{% endblock %}


{% block debug %}
{% endblock %}



{% block content%}

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>



<div class="text-center">
  <a href="{% url 'accounts-login' %}">Return to login page</a>
</div>
{% endblock%}