{% extends "base_not_logged.html" %}
{% block header_title %}Password Reset{% endblock %}
{% block section_title %}Password Reset{% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block debugactive %}{{ debug }}{% endblock %}
{% block creditsactive %}{{ vycontrol_credits }}{% endblock %}

{% block debug %}
{% endblock %}



{% block content %}


<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Send email" /><br>
</form><br/>


<div class="text-center">
  <a href="{% url 'accounts-login' %}">Return to login page</a>
</div>

{% endblock%}
