{% extends "base_not_logged.html" %}
{% block header_title %}Password Reset complete{% endblock %}
{% block section_title %}Password Reset complete{% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block debugactive %}{{ debug }}{% endblock %}
{% block creditsactive %}{{ vycontrol_credits }}{% endblock %}

{% block debug %}
{% endblock %}

{% block content%}
<p>
    Your Password has been set. You may go ahead and login
</p>


<div class="text-center">
    <a href="{% url 'accounts-login' %}">Return to login page</a>
</div>


{% endblock%}