{% extends "base.html" %}

{% block header_title %}Firewall Dashboard{% endblock %}
{% block section_title %}Firewall Dashboard{% endblock %}

{% block debug %}
{{ firewall_all }}
{% endblock %}

{% block content %}



{% if firewall_all %}
    <table border="1" width="100%">
    <tr><th>name</th><th>description</th><th>default-action</th></th><th>actions</th></tr>

    {% for key, value in firewall_all.items %}
        
        {% for ifkey, ifvalue in value.items %}
            <tr>
                <td><a href="{% url 'firewall:show' ifkey %}">{{ ifkey }}</a></td>
                <td>{{ ifvalue.description }}</td>
                <td>{{ ifvalue.default_action }}</td>
                <td>delete</td>
            </tr>
        {% endfor %}
        
    {% endfor %}

    </table>
{% else %}
    <p>No firewalls.</p>
{% endif %}


<h2>Create new rule</h2>

<form action="{% url 'firewall:firewall-create' %}" method="post">
    {% csrf_token %}
    
    <p>
        <label for="alias">name</label><br>
        <input type="text" name="name" id="name" value="{{ name }}" size="30">
    </p>

    <p>
        <label for="alias">description</label><br>
        <input type="text" name="description" id="description" value="{{ description }}" size="60">
    </p>    
    
    <p>
        <label for="hostname">default action</label><br>
        <input type="radio" name="action" id="action" value="accept"> accept
        <input type="radio" name="action" id="action" value="drop"> drop
        <input type="radio" name="action" id="action" value="reject"> reject        
    </p>

    
    
    <input type="submit" value="Add Firewall">
    </form>

    


{% endblock %}



