{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <title>{% if title %}{{ title }}{% else %}{% block header_title %}{% endblock %}{% endif %} - VyControl</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
  integrity="sha256-+bdRwc0NKw+Rhi25h/7Z3aSHWLFeb0LKZ3lrRfSyFwI=" 
  crossorigin="anonymous">    
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" 
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static "main.css" %}?{% random_int 100000 500000 %} ">
  <script src="{% static "vycontrol.js" %}?{% random_int 100000 500000 %} "></script>  
  </head>
  <body >

    <div class="container" id="menu-logotop" >
      <div id="menu-topline"></div>
        
      <div class="row ">
        <div class="col-3 ">
          
        </div>
        <div class="col-9">
          {% if not noinstance %}
            <form action="{% url 'config:instance-change' '--none--' %}" method="post" id="instancedefault">
              {% csrf_token %}


              <p class="text-right menu-config">
              
                <select name="vyos-id" id="vyos-id" onchange="this.form.submit();">
                  {% for instance in instances %}
                  <option value="{{instance.hostname}}" {% if hostname_default == instance.hostname %}selected="selected"{% endif %}>{{instance.alias}}</option>
                  {% endfor %}
            
                  
                
                </select>
              

                <span id="menu-username"><a href="{%  url 'accounts:accounts-profile' %}"><i class="material-icons" id="icon-username">person</i>{{ username }}</a></span> <span id="vycontrol-config-menu"> <a href="{% url 'accounts-logout' %}">Logout</a></span>


            </p>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

<div class="container" id="central">
  <div class="row">
    <div class="col-3 menu">

      <p class="text-center">
        <h1 align="center"><a href="/"><img src="https://storage.googleapis.com/vycontrol/logos/logotxt.png?x" width="170"  height="30" alt="vycontrol"></a></h1>
      </p>

    {% if not noinstance %}
      <h2>Router</h2>

      <ul class="menuleft">
      <li><a href="{% url 'interface:interface-list' %}">Interfaces</a></li>
      <li><a href="{% url 'firewall:firewall-list' %}">Firewall</a></li>
      <li><a href="{% url 'static:static-list' %}">Static Routes</a></li>
      <li><a href="{% url 'dnsresolver:dnsresolver-list' %}">DNS resolver</a></li>
      <li><a href="{% url 'ntp:ntp-list' %}">NTP</a></li>
      </ul>
      
  
      {% if is_superuser %}
      <h2>VyControl Administrator</h2>
      <ul class="menuleft">
      <li><a href="{% url 'config:instances' %}">Instances</a></li>
      <li><a href="{% url 'config:users-list' %}">Users</a></li>
      <li><a href="{% url 'config:groups-list' %}">Groups</a></li>
      </ul>
      {% else %}
      <h2>VyControl</h2>
      <ul class="menuleft">
      <li><a href="{% url 'config:instances' %}">Instances</a></li>
      </ul>
      {% endif %}
    {% endif %}

    </div>
    <div class="col content">
        <h2>{% if title %}{{ title }}{% else %}{% block section_title %}{% endblock %}{% endif %}</h2>

        {% block submenu %}{% endblock %}

        {% for m in msg %}
          {% if forloop.first %}  
          <h2 id="msgs-header">Save result</h2>
          <ul id="msgs">
          {% endif %}
            <li class="msgs_{{ m.msg_type }}">{{ m.msg_type }} - {{ m.msg }}</li>
          {% if forloop.last %}  
          </ul>
          {% endif %}        
        {% endfor %}



        {% block content %}{% endblock %}
    </div>
  </div>


</div>


{% if debugactive == True %}
<div class="container" id="debug">
  <h3>Debug</h3>
  <pre>
  {% block debug %}{% endblock %}
</pre>
</div>
{% endif %}

{% if vycontrol_credits %}
<hr>
<div class="container" id="credits">
  <a href="https://vycontrol.com/">VyControl</a>
</div>
{% endif %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

